@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color : #dfdfdf;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background-color: var(--bg-color);
}


